.main {
  background-color: white;
  width: 100%;
}
.apple {
  position: absolute;
  width: 334.32px;
  height: 662.32px;
  left: 18px;
  top: 286.09px;

  background: url(../images/apple-iphone-11.png);
  background-size: cover;
  transform: rotate(-9.31deg);
}
/* Accounts screen */

.samsung {
  /* Samsung Galaxy S8 Mockup v1 1 */

  position: absolute;
  width: 786px;
  height: 604px;
  left: 885.18px;
  top: 100px;
  width: 35%;

  background: url(../images/samsung-galaxy-mock.png);
  background-size: cover;
  transform: rotate(8.49deg);
}

.icon {
  /* Spliti - 800px - App Icon_01 1 */

  position: absolute;
  width: 147px;
  height: 147px;
  left: 322px;
  top: 143px;

  background: url(../images/spliti-app-icon.png);
  background-size: cover;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

.slogan {
  /* AN EASIER WAY TO SPLIT */

  position: absolute;
  width: 793px;
  height: 63px;
  left: 355px;
  top: 308px;

  font-family: "Quicksand", sans-serif;
  font-style: bold;
  font-size: 40px;
  line-height: 50px;

  color: #000000;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap");
.slogan-child {
  /* Purchases appear directly in the app. Tag in your friends, let Spliti do the math or let your friends pay their own amounts. Try out Autopilot, a hands free splitting experience for recurring splitting! */

  position: absolute;
  width: 661px;
  height: 167px;
  left: 355px;
  top: 358px;

  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: rgba(0, 0, 0, 0.7);
}

.email {
  /* Input box */

  position: absolute;
  width: 393px;
  height: 41px;
  left: 458px;
  top: 525px;

  border: 1px solid #ff6e34;
  box-sizing: border-box;
  border-radius: 10px 0px 0px 10px;
}

input:focus {
  outline: none !important;
  border-color: #f7a81b;
  box-shadow: 0 0 10px #f7a81b;
}

.access {
  /* Input box */

  position: absolute;
  width: 140px;
  height: 41px;
  left: 836px;
  top: 525px;

  background-color: white;
  border: 1px solid #ff6e34;
  box-sizing: border-box;
  border-radius: 0px 10px 10px 0px;
  outline: none;

  transition-duration: 0.4s;
  z-index: 1;
}
.access-text {
  /* Get early access */

  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  margin-top: 7px;

  color: #ff6e34 !important;
}
.access:hover {
  border-color: #f7a81b;
  box-shadow: 0 0 10px #f7a81b;
}

.text-rotator,
.Typewriter__cursor {
  position: absolute;
  width: 400px;
  height: 63px;
  left: 835px;
  top: 307px;
  font-family: "Quicksand", sans-serif;
  font-style: bold;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
}

.sent {
  position: absolute;
  width: 518px;
  height: 41px;
  left: 458px;
  top: 525px;

  background-color: #f7a81b;
  color: white;
  z-index: 1;

  border: 1px solid #ff6e34;
  box-sizing: border-box;
  border-radius: 10px;
}

.sent > p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: auto;
  margin-left: auto;

  font-family: "Quicksand", sans-serif;
  font-style: bold;
}

button:focus {
  outline: none !important;
}
